<am-page-title displayname-property="data.title"></am-page-title>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="paddingHorizontal">
          <button class="ambtn btn-1">Button Style 1</button>
          <button class="ambtn btn-2">Button Style 2</button>
          <button class="ambtn btn-3">Button Style 3</button>
          <button class="btn btn-4">Button Style 4</button>
        </div>
      </div>
      </div>
    </div>
</div>
