<am-page-title displayname-property="data.title"></am-page-title>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="element heading paddingHorizontal">
          <h1>This is a awesome title</h1>
          <h2>This is a awesome title</h2>
          <h3>This is a awesome title</h3>
          <h4>This is a awesome title</h4>
          <h5>This is a awesome title</h5>
          <h6>This is a awesome title</h6>
        </div>

        <div class="heading-component paddingHorizontal">
          <!-- ========================title-double-border================================ -->
          <div class="amtitle title-center title-double-border">
            <span><i class="fa fa-map fa-4x"></i></span>
            <h1>This is a <mark>awesome</mark> title</h1>
            <small>This is sub text for headin and really awesome This is sub text for headin and really awesome</small>
          </div>
          <div class="amtitle title-double-border">
            <h1>This is a <mark>awesome</mark> title</h1>
          </div>

          <div class="amtitle title-double-border">
            <h2>This is a This is a <mark>awesome</mark> title</h2>
          </div>

          <div class="amtitle title-double-border">
            <h3>This is a This is a <mark>awesome</mark> title</h3>
          </div>

          <div class="amtitle title-double-border">
            <h4>This is a This is a <mark>awesome</mark> title</h4>
          </div>

      <!-- ========================title-double-border defferen shape================================ -->
          <div class="amtitle title-double-border shape-sd">
            <h1>This is a <mark>awesome</mark> title</h1>
          </div>

          <div class="amtitle title-double-border shape-dash title-right">
            <h1>This is a <mark>awesome</mark> title</h1>
          </div>

          <div class="amtitle title-double-border shape-dotted">
            <h2>This is a <mark>awesome</mark> title</h2>
          </div>

          <div class="amtitle title-double-border shape-dotted title-center">
            <h3>This is a <mark>awesome</mark> title</h3>
          </div>

          <div class="amtitle title-double-border shape-dash">
            <h4>This is a <mark>awesome</mark> title</h4>
          </div>

          <!-- ========================title-border================================ -->

          <div class="amtitle title-border">
            <h1>This is a <mark>awesome</mark> title</h1>
          </div>

          <div class="amtitle title-border">
            <h2>This is a <mark>awesome</mark> title</h2>
          </div>

          <div class="amtitle title-border title-right">
            <h3>This is a <mark>awesome</mark> title</h3>
          </div>

          <div class="amtitle title-border title-center">
            <h4>This is a <mark>awesome</mark> title</h4>
          </div>

      <!-- ========================title-bottom-border================================ -->

          <div class="amtitle title-bottom-border">
            <h1>This is a <mark>awesome</mark> title</h1>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

          <div class="amtitle title-bottom-border">
            <h2>This is a <mark>awesome</mark> title</h2>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

          <div class="amtitle title-bottom-border">
            <h3>This is a <mark>awesome</mark> title</h3>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

          <div class="amtitle title-bottom-border">
            <h4>This is a <mark>awesome</mark> title</h4>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

  <!-- ========================title-bottom-border with subtitle================================ -->
          <div class="amtitle title-bottom-border">
            <h1>This is a <mark>awesome</mark> title <small>This is <mark>awesome</mark> subtitle</small></h1>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

          <div class="amtitle title-bottom-border">
            <h2>This is a <mark>awesome</mark> title <small>This is <mark>awesome</mark> subtitle</small></h2>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

          <div class="amtitle title-bottom-border">
            <h3>This is a <mark>awesome</mark> title <small>This is <mark>awesome</mark> subtitle</small></h3>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

          <div class="amtitle title-bottom-border">
            <h4>This is a <mark>awesome</mark> title <small>This is <mark>awesome</mark> subtitle</small></h4>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure, magni, perferendis veniam laborum esse optio vel praesentium consectetur ea ullam maxime? Eligendi, iste sequi asperiores perspiciatis nostrum nisi laborum.</p>

          </div>

      </div>

      </div>
    </div>
  </div>
