.comment{
  position: relative;
  overflow: hidden;
  .rating{
    text-align: right;
    small{
      margin-left: 10px;
    }
  }


  ul{
    padding-left: 80px;
    list-style: none;

    li{
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 1px 2px rgba(#000, .1);
      position: relative;

      &:not(:first-child){
        margin-top: 20px;
      }
      &:before{
        content: '';
        border-width: 10px 10px 10px 0;
        border-style: solid;
        border-color: transparent #fff;
        position: absolute;
        top: 10px;
        left: -10px;
      }
      }
      header{
        border-bottom: 1px solid #e5e5e5;
        display: block;


        a{
          text-decoration: none;
          display: inline-block;
          padding: 0px 10px;
        }

        button{
          border: medium none;
          background: transparent;
          text-align: right;
        }

        img{
          width: 60px;
          height: 60px;
          background: #fff;
          border: 4px solid #fff;
          border-radius: 2px;
          box-shadow: 0 1px 2px rgba(#000, .1);
          position: absolute;
          top: 0;
          left: -80px;
        }
        .rating{
          display: inline-block;
        }

      }
      article{
        padding: 20px;
        white-space: pre-line;
        overflow-x: hidden;

      }
  }
}
