<am-page-title displayname-property="data.title"></am-page-title>

<section class="container-fluid paddingHorizontal loginregistation">
  <div class="container clearfix">
    <div class="row">
        <div class="col-md-12">
          <div class="col-md-5 divCenter">
            <div class="panel panel-default">
                <div style="padding: 40px;" class="panel-body">
                  <div class="registation-form">


                      <h3>Register Now.</h3>

                      <form  ng-submit="vm.signup(vm.registerForm.$valid)"  name="vm.registerForm" id="register-form">

                        <div class="form-group">
                          <label for="register-form-name">First Name:*</label>
                          <input
                              type="text"  class="form-control" name="firstName" ng-model="vm.reguser.firstName"  required />

                          <div ng-messages="vm.registerForm.firstName.$error" ng-show="vm.registerForm.firstName.$touched">
                              <p class="text-danger" ng-message="required">First Name name is required.</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="register-form-name">Last Name:*</label>
                          <input
                              type="text"  class="form-control" name="lastName" ng-model="vm.reguser.lastName"  required />

                          <div ng-messages="vm.registerForm.lastName.$error" ng-show="vm.registerForm.lastName.$touched">
                              <p class="text-danger" ng-message="required">Last Name name is required.</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="register-form-name">User Name:*</label>
                          <input
                              type="text"  class="form-control" name="userName" ng-model="vm.reguser.userName"  required ng-minlength="5" ng-maxlength="10" />

                          <div ng-messages="vm.registerForm.userName.$error" ng-show="vm.registerForm.userName.$touched">
                              <p class="text-danger" ng-message="required">User Name name is required.</p>
                              <p class="text-danger" ng-message="minlength">User Name is too short. Must have more then 5 charecter</p>
                              <p class="text-danger" ng-message="maxlength">User Name is too logn. Must have less then 10 charecter</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="register-form-email">Email Address:*</label>
                          <input type="email" class="form-control" name="userEmail" ng-model="vm.reguser.email" required />
                          <div ng-messages="vm.registerForm.userEmail.$error"  ng-show="vm.registerForm.userEmail.$touched">
                            <p  class="text-danger" ng-message="required">Email address is required</p>
                            <p class="text-danger"  ng-message="email">Your email address is invalid</p>
                          </div>
                        </div>



                        <div class="form-group">
                          <label for="register-form-phone">Phone:</label>
                          <input type="phone" class="form-control" name="userPhone" ng-model="vm.reguser.phone" placeholder="(000) 000 0000"
                                 ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                                 />
                          <div ng-messages="vm.registerForm.userPhone.$error"  ng-show="vm.registerForm.userPhone.$touched">

                            <p class="text-danger" ng-message="pattern">Must be a valid 10 digit phone number</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="register-form-password">Password:*</label>
                          <input
                               type="password"   class="form-control" name="password" ng-model="vm.reguser.password"  required ng-minlength="4" ng-maxlength="20" />

                          <div ng-messages="vm.registerForm.password.$error" ng-show="vm.registerForm.password.$touched">
                              <p class="text-danger" ng-message="required">Password is required.</p>
                              <p class="text-danger" ng-message="minlength">Password is too short. minimum 4</p>
                              <p class="text-danger" ng-message="maxlength">Password is too logn.maximum 20</p>
                          </div>
                        </div>

                        <div class="form-group mhSm">
                          <button name="login-submit" id="login-submit" class="btn btn-4" ng-disabled="vm.registerForm.$invalid" >Register</button>

                        </div>
                      </form>

              </div>
                </div>
              </div>
            </div>

        </div>
    </div>
  </div>
</section>
