<section id="slider" class="swiper_wrapper slider-style-1 clearfix" am-swiper="" full-screen="true">

  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container clearfix">
          <div class="caption-image pull-right">
              <img src="images/slider/swiper/2.png"  data-caption-animate="slideInRight" data-caption-delay="200" alt="" />
          </div>

          <div class="slider-caption">
            <h2 data-caption-animate="fadeInUp">Work With All APIs</h2>
            <p data-caption-animate="fadeInUp" data-caption-delay="200">You'll be surprised AngularMart Work for all API. Use it Fot nodejs, laravel, ruby and so on.</p>
            <a class="btn btn-lg btn-5" href="" data-caption-animate="zoomIn" data-caption-delay="400">Buy It Now</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container clearfix">
          <div class="caption-image pull-left">
            <img src="images/slider/swiper/cort.png"  data-caption-animate="slideInLeft" data-caption-delay="200" alt=""  />
          </div>
          <div class="slider-caption">
            <h2 data-caption-animate="fadeInUp">The Power Of AngularJS</h2>
            <p data-caption-animate="fadeInUp" data-caption-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
            <a class="btn btn-lg btn-5" href="" data-caption-animate="zoomIn" data-caption-delay="400">Buy It Now</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container clearfix">
          <div class="caption-image pull-left">
            <img src="images/slider/swiper/woman.png"  data-caption-animate="slideInLeft" data-caption-delay="200" alt="" />
          </div>
          <div class="slider-caption">
            <h2 data-caption-animate="fadeInUp">Build With MEAN Stack</h2>
            <p data-caption-animate="fadeInUp" data-caption-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
            <a class="btn btn-lg btn-5" href="" data-caption-animate="zoomIn" data-caption-delay="400">Buy It Now</a>
          </div>
        </div>
      </div>
    </div>
    <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
    <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
    <div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
  </div>
</section>

<section class="banner container-fluid paddingHorizontal">
  <div class="container">
    <div class="row">


    <div class="col-sm-6">


      <div class="banner-box image-align-left box-shadow clearfix"  style="background-image: url(images/add/ad-2.jpg);" >

          <div class="box-content">Great brand new leather for men collection.</div>
          <span class="box-title">Men’s Leather Collection</span>
          <a target="_self" href="" class="box-link">View Collection</a>
      </div>


    </div>
    <div class="col-sm-6">


                <div style="background-image: url(images/add/ad-3.jpg);" class="banner-box image-align-left box-shadow clearfix" id="banner-box-57454ccc0808b">
                    <div class="box-content">Great M-commerce mobile Application for your business</div>
                    <span class="box-title">M-commerce App Collection</span>
                    <a target="_self" href="" class="box-link">View Collection</a>
                </div>

    </div>


    </div>
  </div>
</section>

<section class="container-fluid marginBottom home_featurep">
  <div class="container">
    <div class="row">

      <div class="col-sm-3 col-xs-12">
            <div class="banner_ad banner_big">
                <a   href="">
                    <div class="banner_image">
                        <img  src="images/add/ad-1.jpg" class="vinicia_banner_bg" style="height: 528px;" >
                    </div>
                    <div class="banner_text">
                        <div class="banner_centering">
                            <div class="banner_centered">
                                <h4>30% Off</h4>
                                <h6>Place your order</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

      </div>

      <div class="col-sm-9 col-xs-12">
      <am-products product-by-category="man" template-url="modules/home/views/homePcarosal.html"></am-products>
      </div>


    </div>
  </div>
</section>

<section class="container-fluid parallax home_category" style="padding: 150px 0; background-image: url('images/3.jpg');" data-stellar-background-ratio=".5">
  <div class="container center clearfix">

    <div class="flex-carosal" animation-loop="true" item-margin="25">
      <ul class="slides">
        <li>
          <div class="category_list">
            <a href="">
              <div class="category_image">
                <img src="images/product/cat/cat-man.jpg" alt="" />
              </div>
              <div class="cat-link">
                <h3>Man Collection</h3>
                <mark>shop now</mark>
              </div>
            </a>

          </div>
        </li>
        <li>
          <div class="category_list">
            <a href="">
              <div class="category_image">
                <img src="images/product/cat/cat-woman.jpg" alt="" />
              </div>
              <div class="cat-link">
                <h3>Woman Collection</h3>
                <mark>shop now</mark>
              </div>
            </a>

          </div>
        </li>
        <li>
          <div class="category_list">
            <a href="">
              <div class="category_image">
                <img src="images/product/cat/cat-child.jpg" alt="" />
              </div>
              <div class="cat-link">
                <h3>Child Collection</h3>
                <mark>shop now</mark>
              </div>
            </a>

          </div>
        </li>
        <li>
          <div class="category_list">
            <a href="">
              <div class="category_image">
                <img src="images/product/cat/cat-bag.jpg" alt="" />
              </div>
              <div class="cat-link">
                <h3>Bag Collection</h3>
                <mark>shop now</mark>
              </div>
            </a>

          </div>
        </li>
        <li>
          <div class="category_list">
            <a href="">
              <div class="category_image">
                <img src="images/product/cat/cat-cosmetic.jpg" alt="" />
              </div>
              <div class="cat-link">
                <h3>Cosmetic Collection</h3>
                <mark>shop now</mark>
              </div>
            </a>

          </div>
        </li>
        <li>
          <div class="category_list">
            <a href="">
              <div class="category_image">
                <img src="images/product/cat/cat-shoes.jpg" alt="" />
              </div>
              <div class="cat-link">
                <h3>shoes Collection</h3>
                <mark>shop now</mark>
              </div>
            </a>

          </div>
        </li>
      </ul>
    </div>
  </div>
</section>


<section class="container-fluid site-feature marginHorizontal">
  <div class="container">
    <div class="row">
      <div class="amtitle title-center">
        <h2>From our blog</h2>
        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</small>
      </div>

      <div class="col-md-6">
        <div class="content-box cb-image-left">
          <div class="content-box-outer">
            <div class="content-box-inner">

              <div class="content-box-image">
                <img src="images/feature/1.png" alt="..." class="img-responsive">
              </div>

              <div class="content-box-content cb-border">
                <h3>Work with NODE js</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="content-box cb-image-left">
          <div class="content-box-outer">
            <div class="content-box-inner">

              <div class="content-box-image">
                <img src="images/feature/2.png" alt="..." class="img-responsive">
              </div>

              <div class="content-box-content cb-border">
                <h3>Work with ruby on rails</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="content-box  cb-image-left">
          <div class="content-box-outer">
            <div class="content-box-inner">

              <div class="content-box-image">
                <img src="images/feature/3.png" alt="..." class="img-responsive">
              </div>

              <div class="content-box-content cb-border">
                <h3>work with django</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="content-box cb-image-left">
          <div class="content-box-outer">
            <div class="content-box-inner">

              <div class="content-box-image">
                <img src="images/feature/4.png" alt="..." class="img-responsive">
              </div>

              <div class="content-box-content cb-border">
                <h3>Work with laravel5 </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="header-top-area hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-4">
						<div class="header-box">
							<i class="fa fa-phone-square"></i>
							<h1>Phone: 0123456789</h1>
							<p>Order Online Now !</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-4">
						<div class="header-box">
							<i class="fa fa-truck"></i>
							<h1>Free shipping</h1>
							<p>On order over $199</p>
						</div>
					</div>
					<div class="col-lg-3 hidden-md hidden-sm">
						<div class="header-box">
							<i class="fa fa-clock-o"></i>
							<h1>working time</h1>
							<p>Mon- Sun: 8.00 - 18.00</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-4">
						<div class="header-box last">
							<i class="fa fa-money"></i>
							<h1>Money back 100%</h1>
							<p>Within 30 Days after delivery</p>
						</div>
					</div>
				</div>
			</div>
		</div>
