/*--------------------------------------shop single--------------------------------------*/
.shop-single{
  .product-outer{
    width: 100%;


    &:hover .feature-image img{
      @include scale(1, 1);
    }
    .product-inner{
      &:hover{
        @include box-shadow(none);
      }
    }


    .title h2 {
      margin-top: 0;
      text-transform: uppercase;
    }
    .stock {
      color: $baseColor;
      font-size: 20px;
      font-weight: 700;
    }
    .meta span.price,
    .meta .rating,
    .varity .color-s,
    .varity .size-s,
    .varity .addtoCart {
      display: block;
      float: none;
      margin-bottom: 10px;
      text-align: left;
    }

    .meta span.price{
      font-size: 40px;
      line-height: 40px;
    }

  }

  .qc button, .qc input {
        display: inline;
        height: 44px;
        width: 44px;
    }
    .qc input {
        border: 1px solid $baseColor;
        margin: 0 -3px;
    }
    .qc {
        display: inline-block;
        margin-right: 20px;
    }


}

.social {
  display: table;
  margin-left: auto;
  margin-right: auto;

  padding: 0;
}
.social li {
  display: inline;
  float: left;
  margin-bottom: 5px;
  margin-right: 7.5px;
}
.social li a {
  display: block;
  height: 32px;
  text-indent: -9999px;
  transition: all 300ms ease-out 0s;
  width: 32px;
  background-image:url("../images/social.png");
  background-color: rgba(0, 0, 0, 0) ;
  background-repeat: no-repeat;
}
.facebook {background-position: 0 0px;}
.twitter{  background-position: -39px 0px;}
.twitter:hover{  background-position: -39px -32px;}
.youtube{  background-position: -78px 0px;}
.youtube:hover{  background-position: -78px -32px;}
.vimeo{  background-position: -117px 0px;}
.vimeo:hover{  background-position: -117px -32px;}
.linkedin{  background-position: -156px 0px;}
.linkedin:hover{  background-position: -156px -32px;}
.rss{  background-position: -195px 0px;}
.rss:hover{  background-position: -195px -32px;}
.flickr{  background-position: -234px 0px;}
.flickr:hover{  background-position: -234px -32px;}
.skype{  background-position: -273px 0px;}
.skype:hover{  background-position: -273px -32px;}
.google{  background-position: -311px 0px;}
.google:hover{  background-position: -311px -32px;}
.pinterest{  background-position: -351px 0px;}
.pinterest:hover{  background-position: -351px -32px;}
.facebook:hover {  background-position: 0 -32px;}
