<am-page-title displayname-property="data.title"></am-page-title>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="panel marginHorizontal">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a class="panel-action panel-action-toggle" href=""></a>
                            <a class="panel-action" href=""> <i class="fa fa-close"></i>
                            </a>
                        </div>

                        <h2 class="panel-title">Checkbox Elements</h2>
                    </header>
                    <div class="panel-body">
                        <form class="" action="index.html" method="post">

                            <div class="form-body">

                              <h3>Default Chcekbox</h3>

                            <div class="am-checkbox">
                                <label>
                                  <input type="checkbox">
                                  <span class="checked"></span>
                                  <span class="am-label">Apple</span>
                                </lable>
                            </div>

                            <div class="am-checkbox">
                                <label>
                                  <input type="checkbox">
                                  <span class="checked"></span>
                                  <span class="am-label">Sumsung</span>
                                </lable>
                            </div>

                            <div class="am-checkbox">
                                <label>
                                  <input type="checkbox">
                                  <span class="checked"></span>
                                  <span class="am-label">Huawei</span>
                                </lable>
                            </div>

                            <h3>Colored Chcekbox</h3>

                          <div class="am-checkbox colored">
                              <label>
                                <input type="checkbox">
                                <span class="checked"></span>
                                <span class="am-label">Apple</span>
                              </lable>
                          </div>

                          <div class="am-checkbox colored">
                              <label>
                                <input type="checkbox">
                                <span class="checked"></span>
                                <span class="am-label">Sumsung</span>
                              </lable>
                          </div>

                          <div class="am-checkbox colored">
                              <label>
                                <input type="checkbox">
                                <span class="checked"></span>
                                <span class="am-label">Huawei</span>
                              </lable>
                          </div>

                          <h3>Tick Chcekbox</h3>

                        <div class="am-checkbox  tick">
                            <label>
                              <input type="checkbox">
                              <span class="checked"></span>
                              <span class="am-label">Apple</span>
                            </lable>
                        </div>

                        <div class="am-checkbox  tick">
                            <label>
                              <input type="checkbox">
                              <span class="checked"></span>
                              <span class="am-label">Sumsung</span>
                            </lable>
                        </div>

                        <div class="am-checkbox  tick">
                            <label>
                              <input type="checkbox">
                              <span class="checked"></span>
                              <span class="am-label">Huawei</span>
                            </lable>
                        </div>

                        <h3>Tick Colored Chcekbox</h3>

                      <div class="am-checkbox colored tick">
                          <label>
                            <input type="checkbox">
                            <span class="checked"></span>
                            <span class="am-label">Apple</span>
                          </lable>
                      </div>

                      <div class="am-checkbox colored tick">
                          <label>
                            <input type="checkbox">
                            <span class="checked"></span>
                            <span class="am-label">Sumsung</span>
                          </lable>
                      </div>

                      <div class="am-checkbox colored tick">
                          <label>
                            <input type="checkbox">
                            <span class="checked"></span>
                            <span class="am-label">Huawei</span>
                          </lable>
                      </div>


                      <h3>Chcekbox inline</h3>

                    <div class="am-checkbox colored checkbox-inline">
                        <label>
                          <input type="checkbox">
                          <span class="checked"></span>
                          <span class="am-label">Apple</span>
                        </lable>
                    </div>

                    <div class="am-checkbox colored checkbox-inline">
                        <label>
                          <input type="checkbox">
                          <span class="checked"></span>
                          <span class="am-label">Sumsung</span>
                        </lable>
                    </div>

                    <div class="am-checkbox colored checkbox-inline">
                        <label>
                          <input type="checkbox">
                          <span class="checked"></span>
                          <span class="am-label">Huawei</span>
                        </lable>
                    </div>



                            </div>

                        </form>

                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="panel marginHorizontal">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a class="panel-action panel-action-toggle" href=""></a>
                            <a class="panel-action" href=""> <i class="fa fa-close"></i>
                            </a>
                        </div>

                        <h2 class="panel-title">Radio Elements</h2>
                    </header>
                    <div class="panel-body">
                        <form class="">

                            <div class="form-body">

                              <h3>Default Radio</h3>

                            <div class="am-radio">
                                <label>
                                  <input type="radio" name="defaultRadio">
                                  <span class="checked"></span>
                                  <span class="am-label">Apple</span>
                                </lable>
                            </div>

                            <div class="am-radio">
                                <label>
                                  <input type="radio" name="defaultRadio">
                                  <span class="checked"></span>
                                  <span class="am-label">Sumsung</span>
                                </lable>
                            </div>

                            <div class="am-radio">
                                <label>
                                  <input type="radio" name="defaultRadio">
                                  <span class="checked"></span>
                                  <span class="am-label">Huawei</span>
                                </lable>
                            </div>

                            <h3>Colored Radio</h3>

                          <div class="am-radio colored">
                              <label>
                                <input type="radio" name="coloredRadio">
                                <span class="checked"></span>
                                <span class="am-label">Apple</span>
                              </lable>
                          </div>

                          <div class="am-radio colored">
                              <label>
                                <input type="radio" name="coloredRadio">
                                <span class="checked"></span>
                                <span class="am-label">Sumsung</span>
                              </lable>
                          </div>

                          <div class="am-radio colored">
                              <label>
                                <input type="radio" name="coloredRadio">
                                <span class="checked"></span>
                                <span class="am-label">Huawei</span>
                              </lable>
                          </div>


                      <h3>Radio inline</h3>

                    <div class="am-radio colored radio-inline">
                        <label>
                          <input type="radio" name="RadioInline">
                          <span class="checked"></span>
                          <span class="am-label">Apple</span>
                        </lable>
                    </div>

                    <div class="am-radio colored radio-inline">
                        <label>
                          <input type="radio" name="RadioInline">
                          <span class="checked"></span>
                          <span class="am-label">Sumsung</span>
                        </lable>
                    </div>

                    <div class="am-radio colored radio-inline">
                        <label>
                          <input type="radio" name="RadioInline">
                          <span class="checked"></span>
                          <span class="am-label">Huawei</span>
                        </lable>
                    </div>



                            </div>

                        </form>

                    </div>
                </section>
            </div>

        </div>
    </div>
</section>
