<am-page-title displayname-property="data.title"></am-page-title>
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="panel marginHorizontal">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a class="panel-action panel-action-toggle" href=""></a>
                            <a class="panel-action" href=""> <i class="fa fa-close"></i>
                            </a>
                        </div>

                        <h2 class="panel-title">Form Elements</h2>
                    </header>
                    <div class="panel-body">
                        <form class="" action="index.html" method="post">

                            <div class="form-body">
                                <div class="form-group am-forms">
                                    <input type="text" placeholder="Enter your text" id="" class="form-control">
                                    <label for="">Text input</label>
                                    <span class="help-text">Need you any halp ??? </span>
                                </div>

                                <div class="form-group am-forms  has-success">
                                    <input type="text" placeholder="Success state" id="" class="form-control focus">
                                    <label for="">Success input</label>
                                </div>


                                <div class="form-group am-forms has-warning">
                                    <input type="text" placeholder="Warning state" id="" class="form-control focus">
                                    <label for="">Warning input</label>
                                </div>
                                <div class="form-group am-forms has-error">
                                    <input type="text" placeholder="Error state" id="" class="form-control focus">
                                    <label for="">Error input</label>
                                </div>
                                <div class="form-group am-forms has-info">
                                    <input type="text" placeholder="Info state" id="" class="form-control focus">
                                    <label for="">Info input</label>
                                </div>

                                <div class="form-group am-forms has-error">
                                    <input type="text" placeholder="Disable" id="" disabled="" class="form-control">
                                    <label for="">Disabled</label>
                                </div>

                                <div class="form-group am-forms has-error">
                                    <input type="text" id="" value="You can't edit this" readonly="" class="form-control">
                                    <label for="">Readonly</label>
                                </div>
                                <div class="form-group am-forms">
                                    <div class="form-control form-control-static"> email@example.com </div>
                                    <label for="">Static Control</label>
                                </div>

                                <div class="form-group am-forms">
                                    <input type="text" placeholder="Enter your email" id="" class="form-control">
                                    <label for="">help text</label>
                                    <span class="help-text">Need you any halp ??? </span>
                                </div>

                                <div class="form-group am-forms has-info">
                                    <select id="" class="form-control focus">
                                        <option value="">Select one Option</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </select>
                                    <label for="">Dropdown Input</label>
                                </div>
                                <div class="form-group am-forms">
                                    <textarea placeholder="Enter more text" rows="3" class="form-control"></textarea>
                                    <label for="">Textarea input</label>
                                </div>


                                <div class="form-group am-forms has-info">
                                    <input type="text" placeholder=".input-sm" id="" class="form-control input-sm">
                                    <label for="">Small input</label>
                                </div>
                                <div class="form-group am-forms has-info">
                                    <input type="text" placeholder=".input-lg" id="" class="form-control input-lg">
                                    <label for="">Large input</label>
                                </div>
                            </div>

                        </form>

                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="panel marginHorizontal bg-am">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a class="panel-action panel-action-toggle" href=""></a>
                            <a class="panel-action" href=""> <i class="fa fa-close"></i>
                            </a>
                        </div>

                        <h2 class="panel-title">Form groups Options</h2>
                    </header>
                    <div class="panel-body">
                        <form class="" >

                            <div class="form-body">

                                <div class="form-group am-forms">

                                    <input type="number" placeholder="number" id="" class="form-control">
                                    <label for="">Input Number</label>

                                </div>


                                <div class="form-group am-forms input-icon has-success">
                                    <input class="form-control" type="text" placeholder="Left icon">
                                    <label for="form_control_1">Input with icon</label>
                                    <i class="fa fa-bell-o"></i>
                                </div>

                                <div class="form-group am-forms input-icon right has-success">
                                    <input class="form-control" type="text" placeholder="Right Icon">
                                    <label for="form_control_1">Input with icon</label>
                                    <i class="fa fa-envelope"></i>
                                </div>

                                <div class="form-group am-forms input-group has-success">
                                    <span class="input-group-addon">$</span>
                                    <input class="form-control" type="text">
                                    <span class="input-group-addon">.00</span>
                                    <label for="form_control_1">Input with Group icon</label>
                                </div>


                                <div class="form-group am-forms input-group has-warning">
                                    <span class="input-group-btn btn-left">
                              <button type="button" class="btn btn-success no-radius">Go!</button>
                          </span>
                                    <div class="input-group-control">
                                        <input type="text" placeholder="Left Button" class="form-control ">
                                        <label for="form_control_1">Input Group button</label>
                                    </div>
                                </div>
                                <div class="form-group am-forms input-group">
                                    <div class="input-group-control">
                                        <input type="text" placeholder="Right Button" class="form-control ">
                                        <label for="form_control_1">Input Group button</label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                <button type="button" class="btn btn-success no-radius">Go!</button>
                            </span>
                                </div>

                                <div class="form-group am-forms input-group">
                                    <span class="input-group-btn btn-left">
                              <button type="button" class="btn btn-success no-radius">Go!</button>
                          </span>
                                    <div class="input-group-control">
                                        <input type="text" placeholder="Left and Right Button" class="form-control ">
                                        <label for="form_control_1">Input Group button</label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                <button type="button" class="btn btn-danger no-radius">Go!</button>
                            </span>
                                </div>

                                <div class="form-group am-forms input-group">
                                    <span class="input-group-btn btn-left">
                              <button type="button" class="btn btn-success btn-sm no-radius">Go!</button>
                          </span>
                                    <div class="input-group-control">
                                        <input type="text" placeholder="input sm" class="form-control input-sm  ">
                                        <label for="input-label">Input Group Small</label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                <button type="button" class="btn btn-danger btn-sm no-radius">Go!</button>
                            </span>
                                </div>

                                <div class="form-group am-forms input-group">
                                    <span class="input-group-btn btn-left">
                              <button type="button" class="btn btn-success btn-lg no-radius">Go!</button>
                          </span>
                                    <div class="input-group-control">
                                        <input type="text" placeholder="input -lg" class="form-control input-lg ">
                                        <label for="input-label">Input Group Large</label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                <button type="button" class="btn btn-danger btn-lg no-radius">Go!</button>
                            </span>
                                </div>


                            </div>

                        </form>


                    </div>
                </section>

                <section class="panel marginHorizontal bg-warning">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a class="panel-action panel-action-toggle" href=""></a>
                            <a class="panel-action" href=""> <i class="fa fa-refresh"></i></a>
                            <a class="panel-action" href=""> <i class="fa fa-cog"></i></a>
                        </div>

                        <h2 class="panel-title">Animated flotion lebal</h2>
                    </header>
                    <div class="panel-body">
                      <form class=""  >
                        <div class="form-body">

                          <div class="form-group am-forms animate-label">

                              <input type="text" placeholder="" id="" class="form-control">
                              <label for="">Regular Input</label>

                          </div>

                          <div class="form-group am-forms animate-label">

                              <input type="text" placeholder="" id="" class="form-control input-sm">
                              <label for="">Small Input</label>

                          </div>

                          <div class="form-group am-forms animate-label">

                              <input type="text" placeholder="" id="" class="form-control input-lg">
                              <label for="">Large Input</label>

                          </div>

                        </div>
                      </form>
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel marginHorizontal bg-info">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a class="panel-action panel-action-toggle" href=""></a>
                            <a class="panel-action" href=""> <i class="fa fa-close"></i>
                            </a>
                        </div>

                        <h2 class="panel-title">Form Horizontal</h2>
                    </header>
                    <div class="panel-body">
                      <form class="form-horizontal" >
                        <div class="form-body">

                          <div class="form-group am-forms input-icon">
                              <label for="" class="col-md-2 control-label">Left icon</label>
                              <div class="col-md-10">

                                  <input type="text" placeholder="Left icon" class="form-control">
                                  <div class="form-control-focus"> </div>
                                  <span class="help-text">Some help goes here...</span>
                                  <i class="fa fa-user"></i>

                              </div>
                          </div>


                          <div class="form-group am-forms input-icon right">
                              <label for="" class="col-md-2 control-label">Right icon</label>
                              <div class="col-md-10">

                                  <input type="text" placeholder="Right icon" class="form-control">
                                  <div class="form-control-focus"> </div>
                                  <span class="help-text">Some help goes here...</span>
                                  <i class="fa fa-user"></i>

                              </div>
                          </div>

                          <div class="form-group am-forms input-icon">
                              <label for="" class="col-md-2 control-label">Small Input</label>
                              <div class="col-md-10">

                                  <input type="text" placeholder="small input" class="form-control input-sm">
                                  <div class="form-control-focus"> </div>
                                  <span class="help-text">Some help goes here...</span>
                                  <i class="fa fa-user"></i>

                              </div>
                          </div>

                          <div class="form-group am-forms input-icon">
                              <label for="" class="col-md-2 control-label">Large input</label>
                              <div class="col-md-10">

                                  <input type="text" placeholder="Large input" class="form-control input-lg">
                                  <div class="form-control-focus"> </div>
                                  <span class="help-text">Some help goes here...</span>
                                  <i class="fa fa-user"></i>

                              </div>
                          </div>

                          <div class="form-group am-forms input-group">
                            <label for="" class="col-md-2 control-label">Group input</label>
                            <div class="col-md-10">

                                    <span class="input-group-btn btn-left">
                                        <button type="button" class="btn btn-info no-radius">Go!</button>
                                    </span>
                                    <div class="input-group-control">
                                        <input type="text" placeholder=".input-lg" class="form-control input-lg">
                                        <div class="form-control-focus"> </div>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn btn-info  no-radius">Go!</button>
                                    </span>

                            </div>
                        </div>

                        </div>
                      </form>

                    </div>

                    <!--

                        <div class="clearfix mhSm">
                            <a href="" class="ambtn btn-1">Button!!</a>
                            <a href="" class="btn btn-2">Button!!</a>
                            <a href="" class="btn btn-3">Button!!</a>
                            <a href="" class="ambtn btn-4">Button!!</a>
                            <a href="" class="ambtn btn-5">Button!!</a>
                            <a href="" class="ambtn btn-6">Button!!</a>
                        </div>

                        <div class="clearfix mhSm">
                            <a href="" class="btn btn-success">Button!!</a>
                            <a href="" class="btn btn-default ">Button!!</a>
                            <a href="" class="btn ">Button!!</a>
                            <a href="" class="btn ">Button!!</a>
                            <a href="" class="btn ">Button!!</a>
                            <a href="" class="btn ">Button!!</a>
                        </div>

                     -->
                </section>
            </div>


        </div>
    </div>
</section>
