
footer.footer {
    background-color: $footer-bg;
    color: $light;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 0;
}
.subcription .input-group {
  margin-bottom: 10px;
}
#footer .footer-bottom{
  border-top: 1px solid $lightGrey;
  padding-top: 30px;
}

#footer .social-icons {
  float: right;
}
