<footer class="container-fluid footer paddingHorizontal" id="footer">

   <div class="container " >

     <div class="row marginBottomSm">
       <div class="col-xs-4 widget widget_address dark">
              <h3>Contant Us</h3>

            <p><strong><span class="fa fa-map-marker"></span>  Address:</strong>  <address>795 Folsom Ave, Suite 600 <br> San Francisco, CA 94107</address></p>
            <p><strong><span class="fa fa-phone"></span>  Phone:</strong> (123) 456-7890</p>
            <p><strong><span class="fa fa-envelope"></span>  Email:</strong> first.last@example.com</p>
            <p><strong><span class="fa fa-clock-o"></span>  Open &amp; Closed:</strong></p>
              <p>Monday - Friday: 08:00 - 22:00</p>
              <p>Saturday, Sunday</p>
       </div>

       <div class="col-xs-4 widget widget_link dark">
          <h3>Take Help from</h3>
            <ul class="list-unstyled">
                <li><span class="fa fa-check"></span>  <a href="">Home</a></li>
                <li><span class="fa fa-check"></span>  <a href="">About us</a></li>
                <li><span class="fa fa-check"></span>  <a href="">Terms and conditions</a></li>
                <li><span class="fa fa-check"></span>  <a href="">Our Blogs</a></li>
                <li><span class="fa fa-check"></span>  <a href="">Faqs</a></li>
                <li><span class="fa fa-check"></span>  <a href="">Supports</a></li>
                <li><span class="fa fa-check"></span>  <a href="">forums</a></li>
            </ul>
       </div>

       <div class="col-xs-4 widget widget_subcription dark">
         <h3>Newsletter</h3>
          <div class="subcription">
            <form class="form-horizontal" novalidate>
              <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                <input type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon1">
              </div>
              <div class="input-group  ">
                <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                <input type="email" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
              </div>

              <div class="input-group ">
                <button type="button" Class="btn btn-5" name="button">Subcribe Now!!</button>
              </div>
            </form>
          </div>
       </div>
     </div>
        <div class="footer-bottom row">

              <div class="col-xs-6">
               
               <p> &copy; 2016 Angular Mart. Best Angularjs HTML5 template</p>
             </div>

           <div class="col-xs-6">
             <div class="social-icons social-icons-colored">
                <ul>
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                  <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li class="social-youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                  <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
           </div>
       </div>
     </div>
   </div>
</footer>
